{% extends 'base.html.twig' %}

{% block title %}Sondage index{% endblock %}

{% block body %}
    <h1>Sondage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Active</th>
                <th>Categorie</th>
                <th>CreatedDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sondage in sondages %}
            <tr>
                <td>{{ sondage.id }}</td>
                <td>{{ sondage.title }}</td>
                <td>{{ sondage.description }}</td>
                <td>{{ sondage.active ? 'Yes' : 'No' }}</td>
                <td>{{ sondage.categorie }}</td>
                <td>{{ sondage.createdDate ? sondage.createdDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('sondage_show', {'id': sondage.id}) }}">show</a>
                    <a href="{{ path('sondage_edit', {'id': sondage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sondage_new') }}">Create new</a>
{% endblock %}
