{% extends 'base.html.twig' %}

{% block title %}QcmValue index{% endblock %}

{% block body %}
    <h1>QcmValue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for qcm_value in qcm_values %}
            <tr>
                <td>{{ qcm_value.id }}</td>
                <td>{{ qcm_value.name }}</td>
                <td>{{ qcm_value.value }}</td>
                <td>
                    <a href="{{ path('qcm_value_show', {'id': qcm_value.id}) }}">show</a>
                    <a href="{{ path('qcm_value_edit', {'id': qcm_value.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('qcm_value_new') }}">Create new</a>
{% endblock %}
